
.Cart-container{
    padding:50px;
    display: flex;
}
.ItemSummary{
    flex: 2;
    background-color: white;
    box-shadow:   2px  2px 2px 2px rgba(128, 128, 128, 0.438);
    width: 50%;
    height: 50vh;
    margin-right: 15px;
    padding: 20px;
}
.ItemSummary-underliner {
    display: block;
    margin-top: 2px;
    border-bottom: 1px solid;
    color: black;
}
.OrderSummary{
    flex: 1;
    width: 40%;
}
.Itemimage{
    width: 250px;
    height: 25vh;
    background-image:url(../Assets/img/images/coconut\ soap.jpg);
    object-fit:cover;
    background-size: cover;
    position: relative;
}
.table{
    width: 90%;
    /* border-spacing: 20px; */
    text-align: left;
    margin: 30px;
}
.tr{
    margin-left: 100px;
}
.name{
    
    font-size: 15px;
    font-weight: 500;
}
.Total{
    font-weight: 500;
    font-size: 15px;
}
.wrapper{
    width: 90%;
    max-height: 300px;
    background-color: white;
    box-shadow:   2px  2px 2px 2px rgba(128, 128, 128, 0.438);
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.totalTextTitle{
    margin-right: 10px;
}
.payment{
    padding: 20px;
    width:90%;
    height: 22vh;
    /* background-color: chartreuse; */
    
}
.payment h1{
font-size: 22px;
font-weight: 600;
text-align: center;
}
.paymentMode{
    display: flex;
 
    
    
}
.paymentMode img{
    margin-top: 10px;
    height:7vh;
    width:120px;
    margin-left: 10px;
}







