.OrderCart {
    text-align: center;
    padding: 50px;
    
}
.Shop-now-Order button {
    border-radius: 10px;
    border: none;
    width: 40%;
    font-size: 17px;
    text-align: center;
    background: rgba(210, 160, 122, 1);
    color:black;
    height: 7vh;
    margin-top: 40px;
    margin: 0px 0px 0px 150px;
}

