*{
    margin: 0;
    padding: 0;
}
.modeldiv{

    width: 100%;
    height: 860px;
    background-color: rgba(210, 160, 122, 1);
    display: flex;
}
.firstimage{
    width: 350px;
    height: 400px;
    /* background-color: chartreuse; */
    background-image: url(../Assets/img/products2.jpg);
    background-size: cover;
    margin-left: 50px;
    margin-top: 350px;
}
.secondimage{
    width: 350px;
    height: 400px;
    /* background-color: purple; */
    background-image: url(../Assets/img/Products1.jpg);
    background-size: cover;
    margin-top: 80px;
    margin-left: -50px;
}
.model{
    width: 500px;
    height: 700px;
    /* background-color: tomato; */
    background-image: url(../Assets/img/model.png);
    background-size: cover;

    /* background-color: darkblue; */
    margin-left: 25%;

    margin-left: 140px;
    margin-top: 160px; 
}
.shopourproducts{
    height: 8vh;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    margin-left: 430px;
    margin-top: -150px;
}
.shopourproducts h1{
    font-size: 15px;
    padding-top: 10px;
    text-align: center;

}
.divtwo{
    display: flex;

    /* background-color: chocolate; */
    margin-left: 20%;
    justify-content: space-evenly;
    width: 20%;
    margin-top: 104.5px;
    height: 90vh;

}
.words{
    background-color: chartreuse;
    height: 50vh;
    /* width: 30%; */
    /* margin-left: 80px; */
    /* margin-top: 90px; */
}
.words h1{
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}
.words p{
    text-align: center;
    padding-top: 30px;
    font-weight: lighter;
}
.photos{
    height: 80vh;
    width: 55%;
    /* background-color: darkred; */
    /* margin-left: 100px; */
    display: flex;
}
.photo1{
    height: 60vh;
    width: 250px;
    background-color: darksalmon;
    margin-left: 50px;
    margin-top: 65px;
    background-image: url(../Assets/img/soap.jpg);
    background-size: cover;
}
.photo2{
    height: 45vh;
    width: 300px;
    background-color: black;
    margin-left: -20px;
    margin-top: 35px;
    background-image: url(../Assets/img/bodybutter1.jpg);
    background-size: cover;
}
.photo3{
    height: 40vh;
    width: 250px;
    background-color: darksalmon;
    margin-left: -280px;
    margin-top: 250px;
    background-image: url(../Assets/img/serum1.jpg);
    background-size: cover;
}