.signincontainer{
<<<<<<< HEAD
    height: 75vh;
=======
    height: 100vh;
>>>>>>> fae237c (cart)
    width: 100%;
    background-color: rgba(210, 160, 122, 1);
    position: absolute;
 }
 .signin{
    padding: 50px;
<<<<<<< HEAD
    height: 63vh;
    width: 32.5%;
    background-color: white;
    border-radius: 25px;
    margin-top: 35px;
    margin-left: 33.5%;
 }
 .signin h1{
    font-weight: 400px;
    font-size: 17px;
    text-align: center;
 }
 .button{
     background-color: rgba(210, 160, 122, 1);
     border-radius: 13px;
     height: 6vh;
     /* padding: 18px; */
     text-align: center;
     width: 40%;
     border: none;
     margin-left: 60%;
=======
    height: 70vh;
    width: 42.5%;
    background-color: white;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 30.5%;
 }
 .signin h1{
    font-weight: 400px;
    font-size: 17px;
    text-align: center;
>>>>>>> fae237c (cart)
 }