*{
    margin: 0;
    padding: 0;
}
.footerdiv{
    height: 62vh;
    width: 100%;
    background-color: rgba(210, 160, 122, 1);
}
.footerdivision{
    display: flex;
}
.footericons{
    width: 30%;
    height: 40vh;
    /* background-color: aqua; */
    display: flex;
    margin-left: 5%;
    margin-top: 70px;
}
.facebook{
    
    /* width: 30px;
    height: 30px;
    background-image: url(../Assets/img/facebook.jpg);
    background-size: cover; */
    margin-left: 35px;
    font-size: 22.5px;
}
.facebook a{
    text-decoration: none;
    color: black;
}
.instagram{
    margin-left: 35px;
    font-size: 22.5px;
}
.instagram a{
    text-decoration: none;
    color: black;
}

/* .pinterest{
    width: 22.5px;
    height: 22.5px;
    background-image: url(../Assets/img/pinterest.png);
    background-size: cover;
    margin-left: 35px;
    margin-top: 3px;
} */
.twitter{
    margin-left: 35px;
    font-size: 22.5px;
}
.twitter a{
    text-decoration: none;
    color: black;
}

.menufooter{
    width: 35%;
    height: 40vh;
    /* background-color: chartreuse; */
    margin-top: 70px;
    margin-left: 5%;
}
.menufooter a{
    text-decoration: none;
    color: black;
}
.newsletter{
    /* background-color: blue; */
    margin-top: 70px;
    width: 20%;
    height: 40vh;
}
.newsletter h1{
    
    font-size: 17px;
    font-weight: lighter;
    margin-top: 15px;
}
.newsletter h2{
    font-size: 17px;
    font-weight: lighter;
    margin-top: 20px;
}
.newsletter input{
    width: 80%;
    height: 3vh;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: 0px 1px black;
}
.newsletter button{
    margin-top: 15px;
    width: 45%;
    height: 6.5vh;
    border-radius: 10px;
    border: none;
}
.newsletter button a{
    text-decoration: none;
    color: #000000;
}
.paywith{
    display: flex;
}
.paywith h3{
    font-size: 15px;
    font-weight: lighter;
    margin-top: 20px;
}
.mtnlogo{
    width: 20px;
    height: 20px;
    /* background-color: chartreuse; */
    margin-top: 20px;
    margin-left: 10px;
    background-image: url(../Assets/img/mtn.png);
    background-size: cover;
}
.copyright{
    width: 10%;
    height: 5vh;
    /* background-color: crimson; */
    margin-top: 20px;
    margin-left: 45%;
}
.copyright h1{
    font-size: 15px;
}