*{
    margin: 0;
    padding: 0;
}
/* .firstdiv{
    /* border: none; */
     /* background-color: red;  */
     /* box-shadow: 0px 0px 0px 1.7px rgba(128, 128, 128, 0.438); */

.header{
    height: 20vh;
    /* background-color: chartreuse; */
    width: 100%;
    /* display: flex; */
}
.menu{
    font-size: 200%;
    margin-left: 2.5%;
    margin-top: 1.5%;
}
.logo{
    width: 50%;
    height: 20vh;
    background-image: url(../Assets/img/logo.png) ;
    background-size: cover;
    background-color: white;
    margin-left: 20%;
}
.rightcorner{
    display: flex;
     background-color: white; 
    /* justify-content: space-evenly; */
    width: 20%;
    margin-left: 70px;
}
/* .rightcorner a{
    padding-top: 4vh;
    padding-left: 20px;
    
    
} */
/* .login{
    background-color: white;
    margin-top: 5vh;
}
.login a{
    color: black;
    cursor: pointer;
    padding-top: 5vh;
    margin-left: 30px;
}
.login a:hover{
    border-bottom: 2px solid black;
    color: black;
    cursor: pointer;
} */
.order{
    font-size: 200%;
    margin-left: 4%;
    margin-top: 3vh;
    /* background-color: chocolate; */
    height: 8vh;
    width: 50px;
    padding-top: 3vh;
}
.order a:hover{
    color: black;
}
.navbar{
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: white;
    padding-left: 22%;
    padding-top: 3vh;
}
.navbar a{
    color: black;
    margin-left: 10%;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    position: relative;
    text-decoration: none;
    /* padding: 0 10px; */
    
}
.navbar a:after{
    background-color: black;
    content: "";
    height: 2px;
    left: 0;
    width: 0;
    bottom: 10px;
    position: absolute;
    transition: 0.3s;
}
.navbar a:hover{
    /* border-bottom: 2px solid black; */
    color: black;
    cursor: pointer;
}
.navbar a:hover:after{
    width: 100%;
}
.login{
    display: flex;
    height: 8vh;
    width: 200px;
    /* background-color: chartreuse; */
    padding-left: 5%;
    padding-top: 4vh;
    margin-top: 3vh;
}
.login a{
    color: black;
    margin-left: 10%;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    position: relative;
    text-decoration: none;
    /* padding: 0 10px; */
    
}
.login a:after{
    background-color: black;
    content: "";
    height: 2px;
    left: 0;
    width: 0;
    bottom: 0px;
    position: absolute;
    transition: 0.3s;
}
.login a:hover{
    /* border-bottom: 2px solid black; */
    color: black;
    cursor: pointer;
}
.login a:hover:after{
    width: 100%;
}

/* .homediv{
    margin-left: 27.5%;
    margin-top: 4vh;
}
.homediv a{
    color: black;
    text-decoration: none;
    cursor: auto;
}
.ourstorydiv{
    margin-left: 100px;
    margin-top: 4vh;
}
.ourstorydiv a{
    color: black;
    text-decoration: none;
    cursor: auto;
}
.shopalldiv{
    margin-left: 100px;
    margin-top: 4vh;
}
.shopalldiv a{
    color: black;
    text-decoration: none;
    cursor: auto;
}
.contactusdiv{
    margin-left: 100px;
    margin-top: 4vh;
}
.contactusdiv a{
    color: black;
    text-decoration: none;
    cursor: auto;
} */

/* .signindiv a:hover{
    cursor: pointer;
}
.signupdiv a:hover{
    cursor: pointer;
} */
.order a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
/* @media screen and (max-width:600px) {
    .order{
       flex-direction: column;
    }
} */
@media only screen and (max-width: 900px) {
    .headerdiv {
      width: 70px;
      padding-left: 50px;
      flex-direction: column;
    }
  }


